[2016-04-06 16:22] jpetitto opened #1 "Add Travis CI support when public"
Travis CI support for private repos is a premium service. When this repo becomes public, we can then integrate Travis CI with our build process.

[2016-04-06 16:26] jpetitto opened #2 "LanguageTranslation Service Constants"
The `LanguageTranslation` service API in the Java SDK does not define any constants for supported languages. For example, right now you have to write:

[code]

Rather, having a set of pre-defined constants (an enum most likely) of languages supported by the service would be more helpful:

[code]

[2016-04-07 16:04] jpetitto opened #3 "Java SDK Calling Mechanism"
OkHttp3 introduces a `Call` type that allows you to perform a request as either synchronous (blocking) or asynchronous (non-blocking). This is nice because it allows you to expose a single method in your API to perform a certain request and then give the caller the option of performing that request as either blocking or non-blocking.

For example, this is how you would perform both types of reques

[2016-04-21 20:47] vherrin opened #4 "Update readme"
- [x] Add sample code for sync
- [x] Add sample code for async
- [x] Update with new information
- [x] Add badges for travis and code coverage
- [x] Add a getting started section like the Java-SDK (how to get credentials to use the SDK)

[2016-04-27 06:20] germanattanasio opened #5 "Deploy the SDK to maven using gradle"
https://support.sonatype.com/hc/en-us/articles/213465348-How-do-I-configure-my-Gradle-build-to-publish-artifacts-to-Nexus-
https://books.sonatype.com/nexus-book/reference/gradle.html
https://docs.gradle.org/current/userguide/artifact_management.html
http://stackoverflow.com/questions/28630470/upload-sources-to-nexus-repository-with-gradle

[2016-05-03 05:01] germanattanasio commented on #3
fixed

[2016-05-03 05:01] #3 closed

[2016-05-03 05:01] germanattanasio commented on #1
fixed by @Hsaylor

[2016-05-03 05:01] #1 closed

[2016-05-03 05:01] germanattanasio commented on #2
fixed

[2016-05-03 05:01] #2 closed

[2016-05-04 23:19] Hsaylor opened #6 "Add OPUS support"
Right now the `MicrophoneInputStream` only encodes raw data, which can get heavy for mobile use cases. Adding OPUS support will help keep things light

[2016-05-04 23:43] germanattanasio commented on #6
@Hsaylor I would start by looking at what they did

[2016-06-10 02:16] germanattanasio opened #7 "Add instructions on how to use ProGuard to prevent the limitation for jars with > 32000 methods"
We should add instructions on how to use the `android-sdk` with ProGuard so that users have some information when they want to submit the app to the Google Store.

[2016-06-10 13:41] germanattanasio opened #8 "Update the Android-sdk based on the latest changes from the java-sdk"
We released a new java-sdk that doesn't have major changes but I bet there are version numbers in the README or in the examples that we need to update

[2016-08-30 06:52] honeynatividad commented on #8
Error:(27, 13) Failed to resolve: com.ibm.watson.developer_cloud:android-sdk:0.1.0

[2016-09-07 15:17] Hsaylor commented on #8
@honeynatividad embarrassingly the sdk wasn't uploaded properly. Should be fixed now.

[2016-09-09 06:43] honeynatividad commented on #8
Thank you! Anyway I am wandering why en-US_MichaelVoice is not listed?

[2016-09-12 14:39] Hsaylor commented on #8
This sdk is simply a set of util tools to help on Android. For the actual Watson services check out the [Java SDK](https://github.com/watson-developer-cloud/java-sdk). Voices can be found in the Voice class.

[2016-09-12 14:48] #8 closed

[2016-09-20 18:51] Hsaylor commented on #7
Instructions about Multidex Support and ProGuard have been added to [the wiki](https://github.com/watson-developer-cloud/android-sdk/wiki/Multidex-Support)

[2016-09-20 18:51] #7 closed

[2016-09-20 19:38] Hsaylor commented on #4
Closing this since codecov was added. Creating a separate issue for including actual tests

[2016-09-20 19:38] #4 closed

[2016-09-20 19:39] Hsaylor opened #9 "Add Unit Tests"
The library portion needs to have unit tests

[2016-10-03 18:43] prashantpandeyfun10 opened #10 "Example link not working"
Your Example link is giving 404 in Readme.md

[2016-10-04 21:10] #10 closed

[2016-10-17 18:10] Hsaylor commented on #6
Merged with #11

[2016-10-17 18:10] #6 closed

[2016-10-17 18:10] Hsaylor commented on #9
Completed as of #11

[2016-10-17 18:10] #9 closed

[2016-10-20 10:04] pkinlen opened #12 "Broken link to jar"
The readme file:
https://github.com/watson-developer-cloud/android-sdk/blob/master/README.md

contains a link to a jar:
https://github.com/watson-developer-cloud/android-sdk/releases/download/android-sdk-0.1.0/android-sdk-0.1.0-jar-with-dependencies.jar

alas that is a broken link.

[2016-10-26 20:16] #12 closed

[2016-11-16 00:25] germanattanasio commented on #5
This will get fixed once watson-developer-cloud/java-sdk#478 is fixed

[2016-11-16 00:25] #5 closed

[2016-12-15 04:22] hendrawd opened #17 "[speech-to-text] FATAL EXCEPTION - "MicrophoneCaptureThread.java:63" from example project"
`[speech-to-text]` from example project will throw
[code]
### Steps to reproduce
Just use the example project, provide username and password, run

### Expected behavior
Not force closed and can accept voice input

### Actual behavior
Force closed and throw exception

### Android Phone
One Plus One(A001)

CyanogenMod version 14.1-20161123-NIGHTLY-bacon

Android version 7.1

### android-sdk version

[2016-12-15 04:44] hendrawd opened #18 "[language-translator] Not Authorized from example project"
`[language-translator]` from example project will throw
[code]
even i provided the correct credential from bluemix dashboard

### Steps to reproduce
Just use the example project, provide username and password, run

### Expected behavior
Not force closed and can translate the text i provided

### Actual behavior
Force closed and throw exception

### Android Phone
One Plus One(A001)

CyanogenMod ver

[2016-12-19 16:33] germanattanasio commented on #18
Hey @hendrawd I think you are trying to use the `LanguageTranslator` service, but you are using `LanguageTranslation` in your code. Please check that because we change the service name recently.

[2016-12-19 16:37] germanattanasio commented on #17
@hendrawd After looking at #18, seems like today is not a good day to try this SDK 😛.

The problem seems to be related to the permissions, do you have
[code]
?

[2016-12-19 16:45] hendrawd commented on #18
@germanattanasio So how to use LanguageTranslation service from IBM Bluemix dashboard in [https://console.ng.bluemix.net/catalog/?category=services&taxonomyNavigation=services](https://console.ng.bluemix.net/catalog/?category=services&taxonomyNavigation=services)?
I can't seem to find `LanguageTranslation` service there, only `LanguageTranslator`

[2016-12-19 16:46] germanattanasio commented on #18
You can't use `LanguageTranslation` that service was renamed to `LanguageTranslator`. Just use `LanguageTranslator`

[2016-12-19 16:47] hendrawd commented on #18
@germanattanasio so this example project will not works right? Because it is used LanguageTranslation

[2016-12-19 16:48] hendrawd commented on #17
@germanattanasio as i mention in the first post, i clone it from example project. The example project itself has it https://github.com/watson-developer-cloud/android-sdk/blob/master/example/src/main/AndroidManifest.xml#L7

[2016-12-19 17:03] germanattanasio commented on #18
I just saw the example project and you are right. It won't work. You need to update the example to use the `LanguageTranslator` service. It should be easy because it's the exact same service as `LanguageTranslation` we just changed the name

[2016-12-19 17:03] germanattanasio opened #19 "Update example project to use LanguageTranslator instead of LanguageTranslation"

[2016-12-19 17:04] germanattanasio commented on #19
Related to #18

[2016-12-19 17:04] germanattanasio commented on #17
Sorry @hendrawd, I'm not that familiar with the example project.

[2016-12-19 17:08] hendrawd commented on #18
thanks for the update, i will check it tomorrow and let you know the result

[2016-12-20 17:43] #19 closed

[2016-12-20 17:43] #18 closed

[2016-12-21 02:37] hendrawd commented on #17
For the next update, i think we can support runtime permission for record audio, so we can target newer android sdk

[2016-12-21 03:57] germanattanasio commented on #17
Just to let you know, we are going to move this repo to be part of the `java-sdk` next week

[2016-12-21 07:19] hendrawd opened #21 "[text-to-speech] Provide functionality to stop the StreamPlayer"
As asked in http://stackoverflow.com/questions/41256985/how-to-stop-streamplayer-of-ibm-watson-text-to-speech

I want to stop StreamPlayer when quitting an Activity where the StreamPlayer play the audio. How i can achieve that with the current sdk?

sdk used
[code]

[2016-12-22 01:50] germanattanasio commented on #21
I think this is particular of Android so I will let @blakesteve answer it

[2016-12-28 19:12] thibo73800 opened #22 "[speech-to-text] RunTimeException - MicrophoneCaptureThread.run"
Project throw

[code]
My application works fine on the simulator but not on my devices (Android 4.4.4, API 19)
Maybe the sdk does not support this API version ?

Here, is my gradle options

[code]
This error is raised when I try to call

[code]

My code :
[code]

[2017-01-18 19:01] troyibm commented on #17
@germanattanasio

Was this repo moved?  I'm not sure what that means or how that fixes the problem in this issue.  I still get this problem.

[2017-01-25 08:12] hendrawd commented on #17
@troyibm you can implement runtime permission by yourself to record audio or change targetSdkVersion to 22

[2017-01-25 19:12] lgbaeza opened #23 "Pick up photo from gallery for external sources ends up with an app crash"
E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #4
                  Process: com.ibm.watson.developer_cloud.android.myapplication, PID: 2902
                  java.lang.RuntimeException: An error occurred while executing doInBackground()
                      at android.os.AsyncTask$3.done(AsyncTask.java:325)
                      at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:3

[2017-01-26 16:55] lgbaeza commented on #23
I found a possible solution. modify the GalleryHelper with the following code and update the minAPI version to 11.
[galleryHelper.java.txt](https://github.com/watson-developer-cloud/android-sdk/files/732925/galleryHelper.java.txt)

[2017-01-30 15:32] #23 closed

[2017-02-03 17:03] Hsaylor commented on #21
I believe this functionality should have been added with #26. Can you confirm/deny @blakesteve ?

[2017-02-03 18:11] blakesteve commented on #21
Agreed, calling `interrupt` provides the requested functionality. Thanks Harrison, closing

[2017-02-03 18:11] #21 closed

[2017-02-13 15:55] Hsaylor opened #27 "Investigate OGG compression"
I saw a few reports that the OPUS/OGG encoding results in a significant loss of fidelity compared to WAV. This is not ideal and needs to be investigated.

Thoughts @blakesteve?

[2017-05-29 23:10] JZHeadley commented on #22
I got the same error running it on a Samsung Galaxy S5 with api 21.  Did anyone ever figure out how to solve this error?

[2017-06-16 22:50] ekeitho commented on #22
So MicrophoneInputStream uses MicrophoneCaptureThread and If you're getting java.lang.IllegalArgumentException: capacity < 0: -6. Then this is saying that
`ByteBuffer bufferBytes = ByteBuffer.allocate(r * 2);`
is being called with a bad value, like a negative number.

So it seems that **r** in this case would be -3.

So going up near the start of MichrophoneCaptureThread: run() there is:
`int r =

[2017-07-25 20:21] lpatino10 commented on #22
I'll try and take a look at this in the next few days. Has anyone been able to reproduce this defect yet?

[2017-07-28 21:46] germanattanasio opened #29 "Remove android-sdk from the Java-sdk"
We need to remove the `android-utils` module from the java-sdk and link this repository from the java-sdk README file.

## Acceptance criteria
 - [x] The java-sdk doesn't have Android code
 - [x] The java-sdk links to the Android sdk
 - [x] Changes to the `android-utils` module should be ported over to the `java-sdk`

[2017-08-01 10:07] arprasto commented on #17
i am also facing same issue with below:
android {
    compileSdkVersion 25
    buildToolsVersion "25.0.3"
    defaultConfig {
        minSdkVersion 21
        targetSdkVersion 25}

with below dependency:
    compile 'com.ibm.watson.developer_cloud:android-sdk:0.2.3'
    compile 'com.ibm.watson.developer_cloud:java-sdk:3.8.0'

but when i changed targetSdkVersion to 22 it did solved the issue.

[2017-08-01 15:23] #29 closed

[2017-08-01 15:43] germanattanasio commented on #17
@lpatino10 can you look into this too?

[2017-08-01 16:24] hendrawd commented on #17
Actually it's the problem with runtime permission. Please use SDK version 22 if you don't support runtime permission on the device yet

[2017-08-01 16:35] arprasto commented on #17
Hi @hendrawd I am doing below in my android code:

@Override
    public void onRequestPermissionsResult(int requestCode, @NonNull String[] permissions, @NonNull int[] grantResults) {
        super.onRequestPermissionsResult(requestCode, permissions, grantResults);
        switch (requestCode){
            case REQUEST_RECORD_AUDIO_PERMISSION:
                permissionToRecordAccepted  = grantResu

[2017-08-03 17:37] lpatino10 commented on #17
@hendrawd what exactly is the issue when running your code? When does it crash and what is the error message?

[2017-08-04 02:29] hendrawd commented on #17
@lpatino10 actually as you can see, i included my stack trace at the first comment. It crash when i tried to get the voice input, maybe when click the record button.
@arprasto i don't know, you should follow the runtime permission from google documentation
I haven't tried the example project again after my last update and i can't check it right now, so sorry if i can't help. I will re-check again

[2017-08-04 09:57] LinkG commented on #22
I have been able to recreate this error...
All I did was set this example code:
`speechService.recognizeUsingWebSocket(new MicrophoneInputStream(),
getRecognizeOptions(), new BaseRecognizeCallback() {
  @Override
  public void onTranscription(SpeechResults speechResults){
    String text = speechResults.getResults().get(0).getAlternatives().get(0).getTranscript();
    System.out.println(text);
  }

[2017-08-07 18:22] lpatino10 commented on #17
Hey thanks for the patience. I just made a pull request that I think should fix this issue. Be sure to follow the example code when using the microphone and feel free to open another issue if it's in fact not resolved.

[2017-08-07 18:22] #17 closed

[2017-08-07 18:23] lpatino10 commented on #22
Hey thanks for waiting. I just made a pull request that I think should clear up any recording issues. I didn't have any bugs in my testing. Be sure to follow the example code for using the microphone, as it's changed a bit, and feel free to open another issue if there are still problems.

[2017-08-07 18:23] #22 closed

[2017-08-14 09:05] VidyasagarMSC opened #38 "Failed to resolve: com.ibm.watson.developer_cloud:android-sdk:0.4.0"
Error:(40, 13) Failed to resolve: com.ibm.watson.developer_cloud:android-sdk:0.4.0

[2017-08-14 14:22] lpatino10 commented on #38
Thanks for the heads up. The configuration for Bintray releases seems to be messed up so I'm going to look at that now. In the meantime, you can continue to use version 0.2.3.

[2017-08-15 13:23] germanattanasio commented on #38
@VidyasagarMSC we are aware and we are working on a new release.

[2017-08-15 15:56] lpatino10 commented on #38
@VidyasagarMSC The new release is up now (0.4.2). If you still have any speech-to-text problems, feel free to make a new issue for us to take a look at.

[2017-08-15 15:56] #38 closed

[2017-08-15 18:28] brian-chu-twc commented on #38
Error:(15, 21) No resource found that matches the given name: attr 'android:keyboardNavigationCluster'.

Look like your library requires 26.0.1 instead of 25.3.1

[2017-08-15 18:34] brian-chu-twc opened #42 "Cannot compile with 25.3.1"
Compile with 0.4.2, get this error:

Error:(15, 21) No resource found that matches the given name: attr 'android:keyboardNavigationCluster'.

Look like the library requires support library version 26.0.1 instead of 25.3.1 is that correct?

[2017-08-15 19:11] lpatino10 commented on #42
That would be correct. Please try updating your support library dependency and let me know if you have any more issues.

[2017-08-15 19:20] germanattanasio commented on #38
@brian-chu-twc can you explain what you mean by 26.0.1? I'm not an android developer.

[2017-08-15 19:26] brianchu commented on #38
I file other ticket, will explain it there. thanks!

[2017-08-17 21:05] #42 closed

[2017-08-23 23:52] brian-chu-twc opened #43 "[text-to-speech] Provide callback functionality to know when the StreamPlayer ends"
There is no way to know if the speech has finished speaking.

AudioTrack has setPlaybackPositionUpdateListener but it is not expose to me to listen to the state of the speech (start, end, etc).

Can we have a API or the AudioTrack expose to app level?

[2017-08-24 17:47] lpatino10 commented on #43
That definitely sounds like it could be of use, however it's not something we could get started working on right away. If you have any ideas on implementation or want to make a pull request, we would be happy to take a look.

[2017-09-03 15:23] LinkG opened #44 "[speech-to-text] MicrophoneCaptureThread error"
- Steps to reproduce
Used example code for speech to text
- Expected behavior
It should accept the microphone input the second time
- Actual behavior
It crashes with the error:
`09-03 20:51:06.229 18825-19210/proj E/AudioRecord: start() status -38
09-03 20:51:06.229 18825-19210/proj E/AndroidRuntime: FATAL EXCEPTION: Thread-19856
                                                           Process:

[2017-09-03 16:13] LinkG commented on #44
I am extremely sorry for opening this issue, if anyone had the same issue,
close the input stream in the onDisconnect method

[2017-09-03 16:13] #44 closed

[2017-11-29 12:03] sonic18 opened #45 "Watson Speech to text Cloud Android imports"
I have read the documentation and then I followed instructions on https://github.com/watson-developer-cloud/android-sdk

It seems that there certain imports which are not functioning, such as

import com.ibm.watson.developer_cloud.language_translator.v2.LanguageTranslator;

import com.ibm.watson.developer_cloud.language_translator.v2.model.Language;

import com.ibm.watson.developer_cloud.speech_to

[2017-11-29 12:49] #45 closed

[2017-11-30 10:40] sonic18 commented on #45
If anyone comes into this problem, the fix is pretty easy
use
  compile 'com.ibm.watson.developer_cloud:java-sdk:3.9.1'
inside the build.gradle

[2017-12-11 05:44] lavanya-lnt opened #47 "Streamplayer is not getting initialised. Please help."
I find the following issue after the streamplayer is called for 5-6 times. First few times it works fine but later it throws the following error.

[code]

[2017-12-16 19:54] eumagnun opened #48 "Error on microphone button click"
When i click on microphone button the app stop.

The error bellow is showed in LogCat console:
[code]

All another functions are OK.

[2017-12-18 10:35] VidyasagarMSC commented on #48
+1
Seeing a crash while calling `speechService.recognizeUsingWebSocket` on microphone button click.

[2018-02-08 17:26] germanattanasio commented on #47
Please provide a set of reproducible steps. Check the CONTRIBUTING.md for an example.

[2018-02-08 17:26] germanattanasio commented on #48
Please provide a set of reproducible steps. Check the CONTRIBUTING.md for an example.

[2018-02-08 17:27] germanattanasio commented on #43
Thanks a lot for filing this issue! Would you like to write a patch for this? We'd be more than happy to walk you through the steps involved.

[2018-02-08 17:28] germanattanasio commented on #27
@lpatino10 Can you do some quick research to see if there is a way to encode the microphone audio to `opus/ogg`?

[2018-03-13 18:43] smccants opened #50 "Speech to Text: OggOpusEncoder hanging on close after Inactivity Timeout"
I'm working on a sample Speech-to-text Android App that will timeout after a certain amount of inactivity from the speaker. For testing purposes, I set the timeout at 1 second. However, there seems to be a race condition (which I reproduced in the example by setting the inactivity timeout to 1 second) that causes the MicrophoneHelper to hang on closing.

The hang occurs in MicrophoneCaptureThread.

[2018-03-13 18:47] smccants commented on #50
Workaround: I use a timer in my app which calls "microphoneHelper.closeInputStream();".  This seems to avoid the problem.

[2018-03-13 18:48] smccants commented on #50
The problem was originally reported here: https://developer.ibm.com/answers/questions/435993/speech-to-text-oggopusencoder-hanging-on-close-aft.html?childToView=436412#answer-436412

[2018-03-14 18:29] lpatino10 commented on #50
Hey @smccants, thanks for bringing this issue up. I've assigned myself to take a look at this as soon as I get some time and I'll report back with any findings.

[2018-03-21 13:04] haris15 commented on #27
@lpatino10 are you find any solution for that ?

[2018-03-23 12:07] lpatino10 commented on #27
Sorry @haris15, I haven't gotten around to looking at this yet.

[2018-04-30 10:49] abhisshek opened #51 "Realtime transcription of [speech-to-text] Api"
I have an issue with real time transcription of Speech-to-text Api.
The main issue is, I have started Audio Recording using low level Media Api which already uses AudioRecord class and when i try to use "new MicrophoneHelper(this).getInputStream(false)" as InputStream, it does not return anything in callback.

So, i wanted to know that, is it possible to use MicrophoneHelper class of IBM watson wh

[2018-05-07 14:30] lpatino10 commented on #51
Hey @abhisshek.

It does seem to be correct that you can only have one instance of `AudioRecord` at a time in Android. I don't have the specifics on how to work around this, but you should be able to pass in an `InputStream` yourself into the `recognizeUsingWebSocket()` method.

The `MicrophoneHelper` class is just for convenience, so it'll be a bit more work, but building up the `InputStream` you

[2018-05-07 14:31] lpatino10 commented on #51
I'm going to go ahead and close this issue since it's related to an underlying implementation detail that won't be changed and there should be a reasonable workaround.

[2018-05-07 14:31] #51 closed

[2018-06-13 10:31] akshayinficare opened #52 "I'm unable to transcribe large file"
I would like to transcribe file from SpeechToText, I'm facing disconnect issue.
`onDisconnected()` method is invoking without completing transcription.
I used 1:30 hours large file, I tried 3 times it is disconnection after 10 minutes 16 minutes and 27 minutes.

[code]

[2018-06-18 17:31] germanattanasio commented on #52
Is the file > 100MB? The service has a limitation of 100MB.

Why do you use the WebSocket endpoint? Try using `recognize()`

[2018-07-04 07:14] ShreeyaJoshi opened #53 "Requesting support for API key authentication for STT & TTS services"
Hi All,
I created new STT and TTS service in IBM Cloud, and I see fields in Credentials like:-
- apikey
- iam_apikey_description
- iam_apikey_name
- iam_role_crn
- iam_serviceid_crn
- url
but I don't see Username, Password in credentials (as mentioned in documentation of current android-sdk)
Can you let me know the endpoint I should use for connecting to latest services.

[2018-07-04 07:19] lpatino10 commented on #53
Hey @ShreeyaJoshi. For authentication, refer to the [Java SDK](https://github.com/watson-developer-cloud/java-sdk). Our services have migrated to a new authentication method.

[2018-07-04 07:19] #53 closed

[2018-07-04 08:19] ShreeyaJoshi commented on #53
Thank you for quick response @lpatino10, will take a look at it

[2018-07-04 09:42] ShreeyaJoshi commented on #53
Hi Logan, We are looking for Android SDK, and above link is for Java SDK, can you guide on how to proceed further with this?

[2018-07-11 13:13] ShreeyaJoshi opened #54 "Error in recognizeUsingWebSocket by passing MicrophoneInputStream(true)"
Hi,
I tried creating Cordova plug-in by following example and sample code given in documentation.
[code]

When tried passing **OPUS encoded: true** for input stream getting errors,
Stacktrace for same as below:
[code]

Can you please let me know if I am missing anything here?

[2018-07-18 13:44] lpatino10 commented on #53
For authentication I specifically mean [this section](https://github.com/watson-developer-cloud/java-sdk#iam) of the README.

The Android SDK is just a library to be used on top of the Java SDK. The Android SDK adds support for device-specific things like the camera and microphone, but the Java SDK deals with connecting to the Watson services. That repo's README should be useful then in better und

[2018-07-30 09:16] seransaca opened #55 "limit of character is exceeded?"
Hi!

I'm trying the TTS and I have a question, if you have the lite plan, how i know/detect in code the error when the limit of character is exceeded?

Thanks

[2018-08-09 13:52] lpatino10 commented on #55
Hi @seransaca! If you exceed your limit, the service will throw a 4XX error with a message explaining that you're over your allotted amount.

[2018-08-10 12:42] #55 closed

[2018-08-13 18:10] ShreeyaJoshi opened #56 "Not able to set acousticCustomizationId in RecognizeOptions.Builder()"
I tried downloading aar provided along with this sdk also tried building aar, but I can't find support for
public RecognizeOptions.Builder acousticCustomizationId(java.lang.String acousticCustomizationId)

This method is available in Java-SDK, but when I tried checking in android-sdk could not find it.
Getting below error on call:-
call : -
return new RecognizeOptions.Builder().continuous(true).co

[2018-08-13 18:36] lpatino10 commented on #56
Hey @ShreeyaJoshi. The Android SDK doesn't contain any of the actual code for calling the Speech to Text API, so the reason you're getting this error is because your Java SDK dependency is outdated. If you're using the Java SDK > v5.0.0, you should have it.

Try updating that dependency and let me know if you still have problems.

[2018-08-16 08:38] foward opened #57 "Example is not using the latest Watson SDK"
The Example folder is not using the latest Watson SDK, please update it to the new version since there are code which is deprecated.

Thanks  @lpatino10  @germanattanasio

[2018-08-16 15:35] germanattanasio commented on #57
Thanks a lot for filing this issue! Would you like to write a patch for this? We'd be more than happy to walk you through the steps involved.

[2018-08-16 15:35] germanattanasio commented on #52
This issue is fairly old and there hasn't been much activity on it. Closing, but please re-open if it still occurs.

[2018-08-16 15:35] #52 closed

[2018-08-18 08:13] priyankjain28 opened #58 "Cannot create variant 'android-lint' after configuration"
Hi Team,
I cannot build my project.
I get this error
Cannot create variant 'android-lint' after configuration ':library:debugRuntimeElements' has been resolved

[2018-08-20 21:37] lpatino10 commented on #58
Hi @priyankjain28. Without knowing much about your project, this link seems to be pointing to a very similar problem and solution.

Please take a look at that and let me know if this fixes anything for you.

[2018-08-28 17:01] smccants commented on #50
I think I'm running into a slightly different flavor of this problem.  Any update on when it might be fixed?

[2018-08-28 19:26] smccants commented on #50
It looks like the hang is a result of this thread never exiting:

[code]

While this thread is hung, the main thread is in a spin loop waiting for it:

[code]

[2018-08-28 21:43] smccants opened #59 "Socket error hangs Speech To Text code."
Socket errors, 403 errors and likely similar errors that occur when sending speech data to Watson are not handled correctly and result in the app's ability to do speech to text being hung until the app is restarted.

Steps to reproduce:
1. Use the example provided with the library.
2. Set the URL to something wrong, such as: https://stream.watsonplatform.net/speech-tot-text/api
3. Run the applicat

[2018-08-28 22:30] smccants commented on #59
I believe I have a reasonable fix for the problem.

[2018-08-30 16:08] #59 closed

[2018-09-05 08:27] priyankjain28 commented on #58
Thanks

[2018-09-21 08:27] hippo00 opened #61 "I did't see the name and password, only has a Api-key and url?"
How to convert to Api-key?

I need to go through the steps, thank you!

[2018-09-21 14:19] lpatino10 commented on #61
It sounds like you've provisioned a service using IAM credentials. If that's the case and you've got an IAM API key, try following the authentication steps [here](https://github.com/watson-developer-cloud/java-sdk#iam).

[2018-10-07 22:32] germanattanasio commented on #58
This issue is fairly old and there hasn't been much activity on it. Closing, but please re-open if it still occurs.

[2018-10-07 22:32] #58 closed

[2018-10-12 04:11] lpatino10 commented on #57
I've started updating the example to use the newest version of the Java SDK, but have run into an issue with the Text to Speech output. I've got an issue internally to track the progress and I'll be looking into it more deeply next week.

[2018-10-12 04:12] #61 closed

[2018-11-02 00:31] germanattanasio commented on #57
This was fixed in #63

[2018-11-02 00:31] #57 closed

[2018-11-02 00:32] germanattanasio commented on #48
This issue is fairly old and there hasn't been much activity on it. Closing, but please re-open if it still occurs.

[2018-11-02 00:32] #48 closed

[2018-11-02 00:32] germanattanasio commented on #47
This issue is fairly old and there hasn't been much activity on it. Closing, but please re-open if it still occurs.

[2018-11-02 00:32] #47 closed

[2018-11-02 00:32] germanattanasio commented on #54
Please provide a set of reproducible steps.

[2018-11-02 00:33] germanattanasio commented on #54
And please use the latest version. I think this could have been fixed in #63

[2018-11-13 16:22] VidyasagarMSC opened #64 "[speech-to-text] Interim results set to true but seeing final results"
I have set the .interimResults(true) for Speech to Text new RecognizeOptions.Builder()
 but still seeing the final results.

### When reporting a bug, please be sure to include the following:

I have used the examples code and set the interimResults to true. But when I check the response I always see this

[code]

I am using the latest release of the SDK (0.5.0). Am I missing anything here?

Just

[2018-11-14 07:53] VidyasagarMSC commented on #64
@l2fprod yep...after digging deep just found out that the main issue is with Java SDK. Created an issue on Java SDK repo - https://github.com/watson-developer-cloud/java-sdk/issues/1005

It still makes sense to have this issue open here. So that the fix from Java SDK can move into SDK.

[2018-11-14 13:01] lpatino10 commented on #64
Good catch @l2fprod and @VidyasagarMSC. I'll release a patch today and update this and the Java issue when it's released.

[2018-11-14 21:21] lpatino10 commented on #64
@VidyasagarMSC the fix has been applied in the Java SDK, so this issue can be closed. Thanks to you and @l2fprod for the help 👌

[2018-11-14 21:21] #64 closed

[2018-12-03 08:59] INTKILOW opened #65 "Recognition speed"
Why is recognition slow in China……About 4 seconds

[2018-12-03 13:56] Morish2412 opened #66 "Issue connecting with V1 assitant"
When trying to modify application to connect to V1 Assistant, some classes are not available, is there some application using V1 Assistant available

[2018-12-03 15:56] lpatino10 commented on #66
There aren't any ready examples for Android specifically that use Assistant v1, but since it's based on the Java SDK, you can find an example there. Here's one: https://github.com/watson-developer-cloud/java-sdk/blob/master/examples/src/main/java/com/ibm/watson/developer_cloud/assistant/v1/AssistantExample.java

I'm not sure what you mean exactly about classes not being available, but if you copy

[2018-12-03 16:06] lpatino10 commented on #65
Hi @INTKILOW. I'm sorry that the service is slower than you might like, but that is outside of the scope of this SDK. I'll be sure to ask the speech team about it to see if it's a known problem.

It is possible that there was some temporary slowdown, so I'd encourage you to try hitting the service again.

I'm going to go ahead and close this issue though, since it's a possible issue on the service

[2018-12-03 16:06] #65 closed

[2018-12-04 01:53] INTKILOW commented on #65
Is there any difference between speech-android-sdk  and android-sdk,The service credentials do not have a username and password, only an apikey

[2018-12-04 05:55] INTKILOW commented on #65
How to add microphone volume size callback

[2018-12-04 07:19] INTKILOW opened #67 "Mic volume"
[code]
Mic decibels cannot be obtained

[2018-12-04 09:08] INTKILOW opened #68 "The socket was disconnected for network reasons"
If the socket is disconnected, what should I do to restart correctly

[2018-12-04 15:48] germanattanasio commented on #67
Please provide a set of reproducible steps. Check the CONTRIBUTING.md for an example.

[2018-12-04 15:48] germanattanasio commented on #68
Re-run the method that calls `recognize()`

[2018-12-05 07:11] INTKILOW commented on #68
Only callback 'onError' after network disconnect
The log
Com. IBM. Watson. Developer_cloud. Android. If audio. MicrophoneInputStream: Pipe is closed
Do I need to manually call websocket.close() or websocket.cancel() to free the current connection

[2018-12-05 16:07] lpatino10 commented on #68
Could you post some code to help understand your question better?

[2018-12-06 01:30] INTKILOW commented on #68
IamOptions iamOptions = new IamOptions.Builder()
                        .apiKey("***")
                        .build();

                service = new SpeechToText(iamOptions);

                service.setEndPoint("https://gateway-tok.watsonplatform.net/speech-to-text/api");
                microphoneHelper = new MicrophoneHelper(getActivity());

                MicrophoneInputStream m =  microp

[2018-12-06 17:31] germanattanasio commented on #68
If you get an error, log that error using
[code]

Where `startRecognition()` is:

[code]
Something like that.

[2018-12-07 21:05] germanattanasio commented on #68
You can't send more than 100mb to the service. See https://console.bluemix.net/docs/services/speech-to-text/websockets.html#WSaudio

[2018-12-12 08:00] INTKILOW commented on #68
The release version does not recognize speech but the debug version does

[2019-02-04 08:02] prokulit06 opened #69 "ERROR: Cannot create variant 'android-aidl' after configuration ':library:debugApiElements' has been resolved"
Sir need help when i build the gradle thats the error i encountered i need help sir please :(

[2019-02-04 16:19] lpatino10 commented on #69
Hi @prokulit06, what version of Gradle are you using to try and build your project? Just from searching around for a bit, it seems like other people have similar issues trying to use a Grade version that's not yet supported by libraries they're trying to use.

[2019-02-04 21:31] himuragaming opened #70 "update example to include updated api key login"
I first posted this over at [stackoverflow ](https://stackoverflow.com/questions/54433473/ibm-watson-speech-to-text)but I get no support there as to what the code would be for getting data from ibm watson over an api key. Please update the example to include use of the latest way to login. thanks

[2019-02-05 11:38] prokulit06 commented on #69
i am using 3.3.0 the android studio recommended to upgrade cannot build
successfully if i don't update it

On Tue, Feb 5, 2019 at 12:19 AM Logan Patino <notifications@github.com>
wrote:

[2019-02-05 14:04] lpatino10 commented on #69
Would you be able to post the full stack trace? I'm not sure there's enough information right now to really help.

[2019-02-05 14:12] lpatino10 commented on #70
Hey @himuragaming. It looks like the repo you linked to in that issue was a deprecated speech library we used to have, but this is the correct one.

This library is built to work with the [Java SDK](https://github.com/watson-developer-cloud/java-sdk), so that's where you can find information on how to authenticate with your service. Specifically though, you'll want to look in [this section](https:

[2019-02-06 07:49] prokulit06 commented on #69
Sir i have a question also about how can i convert audio file to text in android i can find any sample in the sdk only microphone sir need help

[2019-02-06 07:51] prokulit06 commented on #69
Sir by the way i managed to solve the issue thanks but i have a another question sir about audio file to text using this sdk sir need help sir because i am building an app that can convert audio file to text please sir need help

[2019-02-06 08:01] prokulit06 commented on #69
like this method of thread sir  FileCapture in android how can i use that because in older sdk it is deprecated i cannot use it

[2019-02-06 14:42] lpatino10 commented on #69
You can convert audio to text by using the Watson Speech to Text service. This will come from the Java SDK and you can find examples [here](https://github.com/watson-developer-cloud/java-sdk/tree/master/speech-to-text).

Beyond that, if you have Android-specific questions about handling files in Android, those are better asked on Stack Overflow. Issues in this repo should be specific to this SDK.

[2019-02-06 14:45] #70 closed

[2019-02-06 21:25] prokulit06 commented on #69
i ca convert audio to text using android?? sir please i have question in
stack overflow but no one can answer me sir need help i cannot see example
how to do that in android

On Wed, Feb 6, 2019 at 10:42 PM Logan Patino <notifications@github.com>
wrote:

[2019-02-06 22:08] lpatino10 commented on #69
Yes, take a look at the Java SDK I linked in my last comment above. You can pull it into your project like this:

[code]

It's also Java so audio-to-text conversion will work with Android as well.

[2019-02-06 23:18] prokulit06 commented on #69
Is this example you telling me sir?

SpeechToText service = new SpeechToText();
service.setUsernameAndPassword("<username>", "<password>");
InputStream audio = new FileInputStream("src/test/resources/sample1.wav");
RecognizeOptions options = new RecognizeOptions.Builder()
  .audio(audio)
  .contentType(HttpMediaType.AUDIO_WAV)
  .interimResults(true)
  .build();

service.recognizeUsingWebSocket(op

[2019-02-06 23:45] prokulit06 commented on #69
where is the right one here sir? the audio to text conversion?

On Thu, Feb 7, 2019 at 6:08 AM Logan Patino <notifications@github.com>
wrote:

[2019-02-07 00:01] prokulit06 commented on #69
sir i always have an error sir application has stopped my code is isr ned
help sir

record.setOnClickListener(new View.OnClickListener() {
    @Override
    public void onClick(View view) {
        try {
            InputStream audio = new
FileInputStream("/storage/emulated/0/SoundRecorder/ian_1.mp3");
            getRecognizeOptions(audio);
        } catch (FileNotFoundException e) {

[2019-02-08 01:58] prokulit06 commented on #69
Sir please help me sir :(

On Thu, Feb 7, 2019 at 8:01 AM Ian madayag <seldbertianmadayag@gmail.com>
wrote:

[2019-02-08 02:36] germanattanasio commented on #69
@prokulit06 I read this entire thread to try to help you, but I can't understand what your problem is :man_shrugging:.

Are you sure that you found a problem with this SDK? If that's the case can you write the steps (starting from a clean environment) to reproduce your issue?

If what you need is help with your use case you will be better asking in https://stackoverflow.com/.

[2019-02-08 03:16] prokulit06 commented on #69
SpeechToText service = new SpeechToText();
service.setUsernameAndPassword("<username>", "<password>");
InputStream audio = new FileInputStream("src/test/resources/sample1.wav");
RecognizeOptions options = new RecognizeOptions.Builder()
  .audio(audio)
  .contentType(HttpMediaType.AUDIO_WAV)
  .interimResults(true)
  .build();

service.recognizeUsingWebSocket(options, new BaseRecognizeCallback() {

[2019-02-08 03:23] prokulit06 commented on #69
@German Attanasio sir?? help me i don't know how can i put that in android
:( i am new on this programming language please help

On Fri, Feb 8, 2019 at 11:16 AM Ian madayag <seldbertianmadayag@gmail.com>
wrote:

[2019-02-08 03:25] prokulit06 commented on #69
@germanattanasio sir need help :(

[2019-02-08 03:25] germanattanasio commented on #69
@prokulit06 if you can't add a short snippet in your android app it will be harder to tackle other problems like connecting the audio with the microphone.
There are no shortcuts in life; you need to spend the time learning Android to use this SDK.

I would suggest you look at https://www.youtube.com/watch?v=Z98hXV9GmzY and start from there.

I'm going to block this issue and probably delete it in

[2019-02-08 03:25] #69 closed

[2019-02-10 01:08] prokulit06 opened #71 "audiofilewritter method in android sdk (SUPPORT)"
can you provide example of audiofilewritter becase in your example audiofilewritter is not include can you add that ?? audiofilewritter is the method to transcribe audio to text ?? is that right??

[2019-02-10 01:29] prokulit06 commented on #71
please i need your help i posting so many question about it in stackoverflow but no one can answer me :( please need help

[2019-02-11 15:03] lpatino10 commented on #71
@prokulit06 if you're trying to transcribe audio to text, take a look at the [example file](https://github.com/watson-developer-cloud/android-sdk/blob/master/example/src/main/java/com/ibm/watson/developer_cloud/android/myapplication/MainActivity.java).

You don't need to interface directly with the `AudioFileWriter` class, you just need to use the `MicrophoneHelper`.

If you look at the example, y

[2019-02-16 07:53] prokulit06 opened #72 "Helpp Speaker Labeling is not consistent"
When i try in the demo transcribing audio to text is so accurate this is the output in the demo
Speaker 0:
    Hello.
Speaker 1:
    Hi is this Tina.
Speaker 0:
    Yes it is who is this.
this is my output
Speaker 0:
    Hello.
Speaker 1:
    Hi is this Tina.
Speaker 0:
    Yes it is this this
this is my set up in recognize
 private RecognizeOptions getRecognizeOptions(InputStream captureStream) {

[2019-02-16 10:50] prokulit06 commented on #71
thank you my problem was solved

[2019-02-18 16:22] #71 closed

[2019-02-22 02:44] prokulit06 commented on #72
please help me

[2019-02-25 06:30] prokulit06 commented on #72
need help sir

[2019-02-25 08:39] prokulit06 opened #73 "Help (SUPPORT) Displaying speaker labels"
Help how can i display speaker labels because when i trying to display speaker labels it is not consistent

  private class MicrophoneRecognizeDelegate extends BaseRecognizeCallback {

        @Override
        public void onTranscription(SpeechRecognitionResults speechResults) {
            System.out.println(speechResults);
            //this to enable Speaker Diarization
            SpeakerLabe

[2019-02-25 10:12] prokulit06 commented on #73
please help me sir :( please

[2019-02-25 12:06] lpatino10 commented on #72
This is not an issue with the Android SDK. If you're confused about getting the most out of the Speech to Text service, please consult the documentation: https://cloud.ibm.com/docs/services/speech-to-text

[2019-02-25 12:06] #72 closed

[2019-02-25 12:06] lpatino10 commented on #73
Duplicate of https://github.com/watson-developer-cloud/android-sdk/issues/72

[2019-02-25 12:06] #73 closed

[2019-02-26 13:56] prokulit06 opened #74 "update example include of speaker label"
Sir please can you provide on example on how to get speaker label just like in the demo very consistent please sir

[2019-02-26 16:05] lpatino10 commented on #74
@prokulit06

Issues submitted to this repository should be either _bugs_ found in using the SDK or _reasonable questions_ about support on how to use it. Even in that latter case, they should pertain directly to the SDK itself.

The question you're asking is related to Watson services as a whole and how best to train them. This is information that can be found in the service documentation which I'

[2019-02-26 16:05] #74 closed

[2019-03-02 22:35] Navdeep2103 commented on #51
have you completed this project?

[2019-03-13 08:20] prokulit06 opened #75 "Continuous Listening with android sdk"
Is this equivalent in inActivityTimeout or it is different because I tried this .continues like in the demo but not defined in android sdk??? is .continues is not available in android sdk?

[2019-03-13 17:24] lpatino10 commented on #75
Hey @prokulit06. I'll need to update the example because the `continuous` parameter when using Speech to Text is actually deprecated, so it makes sense that it wouldn't work. We don't actually use it in the example, though.

Either way, the old behavior that would result from setting `continuous` to `true` is now the **default** behavior, so if that's what you were trying to do, you don't need to

[2019-03-23 04:29] Skyler-Altol opened #76 "GalleryHelper.java missing permissions check"
Scenario:

Build an app that involves uploading a locally stored image to IBM's Watson for image analysis. Use the GalleryHelper to assist with this process. Attempt to run the app. You will find that you run into permissions errors because GalleryHelper is missing a permissions check for READ_EXTERNAL_STORAGE. This should be an easy fix, CameraHelper has a permissions check method in it, and this

[2019-03-26 19:40] #75 closed

[2019-03-26 19:41] lpatino10 commented on #66
Closing due to inactivity.

[2019-03-26 19:41] #66 closed

[2019-03-26 19:41] lpatino10 commented on #67
Closing due to inactivity.

[2019-03-26 19:41] #67 closed

[2019-03-26 19:42] lpatino10 commented on #54
Closing due to inactivity.

[2019-03-26 19:42] #54 closed

[2019-03-26 19:44] lpatino10 commented on #76
Hey @Skyler-Altol, thanks for filing this issue. I'm a bit busy with some other release stuff at the moment, but I'll try to take a look at this next week. In the meantime, if you think you might have a quick fix for the problem, feel free to make a PR and I'll happily review!

[2019-03-26 21:20] Skyler-Altol commented on #76
I was able to make a fix for the purposes of my university assignment, but I will not publish said fix here because it is probably one of the most hacky things I've ever written, and should never be seen in a production environment. I too am also busy until next week, but if I get a chance, I'll do a further deep dive into Android permissions and how to appropriately handle asking for permissions

[2019-05-06 07:14] W-quan opened #78 "ERROR: Cannot create variant 'android-aidl' after configuration ':library:debugApiElements' has been resolved"
reopen [#69](https://github.com/watson-developer-cloud/android-sdk/issues/69).

env:

`com.android.tools.build:gradle:3.4.0`
`com.dicedmelon.gradle:jacoco-android:0.1.4`

`gradle-5.1.1-all.zip`

[2019-05-09 21:33] lpatino10 commented on #78
@W-quan It seems like it's an error coming from the version of Gradle you're using. You might be able to solve it by downgrading, as it's probably incompatible with a library you're using (which might be this one).

For reference, we're using Gradle version `2.3.3` in this project, so it might be worth giving that one a try.

[2019-05-10 11:44] aurelN opened #79 "Error: INSTALL_FAILED_CONFLICTING_PROVIDER: Can't install because provider name com.ibm.watson.developer_cloud.android.provider is already used"
Hello,

The following error appears when I try to install an app using watson on a device which already has another app with watson.

From what I read this could be fixed by changing the SDK manifest instead of
<provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.ibm.watson.developer_cloud.android.provider"

to use

<provider
        android:nam

[2019-05-10 15:25] lpatino10 commented on #79
Hey @aurelN, thanks for bringing this up. I can take a look when I get a chance to try that out. In the meantime though, feel free to submit a PR if you would like. I'd be happy to review!

[2019-05-27 07:56] kanika712 opened #80 "[speech-to-text] [websocket ]Hi, In the previous "https://github.com/watson-developer-cloud/speech-android-sdk" project we were having WebSocket class. But i did't find such class in this project. I want to achieve speech to text using webSocket .Please help.."
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2019-05-29 13:53] kanika712 opened #81 "[speech-to-text] [websocket] Implement Speech to text using Web Socket"
In the previous "https://github.com/watson-developer-cloud/speech-android-sdk" project we were having WebSocket class. But i did't find such class in this project. I want to achieve speech to text using webSocket .Please help..

[2019-05-29 13:54] #80 closed

[2019-06-06 14:37] lpatino10 commented on #81
Hey sorry @kanika712, this slipped past my radar.

The way this project works is in tandem with the [Java SDK](https://github.com/watson-developer-cloud/java-sdk), meaning that you should also be including that project in your dependencies. You can see an example of that in the example code [here](https://github.com/watson-developer-cloud/android-sdk/blob/master/example/src/main/java/com/ibm/watso

[2019-06-06 14:37] #81 closed

[2019-09-10 09:27] W-quan commented on #78
[code]
It's a Infinite loop.   The gradle version `2.3.3` is too old. Can you upgradle it?

[2019-10-18 13:27] #78 closed

[2019-10-18 13:51] #79 closed

[2019-10-31 18:24] monochkov opened #84 "com.ibm.watson.developer_cloud:android-sdk:0.5.1 not found"
**Details:** org.gradle.api.internal.artifacts.ivyservice.DefaultLenientConfiguration$ArtifactResolveException: Could not resolve all files for configuration ':app:debugImplementationDependenciesMetadata'.
**Caused by:** org.gradle.internal.resolve.ArtifactNotFoundException: Could not find android-sdk.jar (com.ibm.watson.developer_cloud:android-sdk:0.5.1).
**Searched in the following locations:**

[2019-11-04 21:49] germanattanasio commented on #84
@lpatino10 what's the problem here? do we use bintray for android-sdk?

[2019-11-04 22:02] smccants opened #85 "README.md link to AAR broken"
The README.md file contains a link for downloading a binary AAR, but the link returns a 404.  The link in the README.md is currently:

https://github.com/watson-developer-cloud/android-sdk/releases/download/v0.5.1/library-release.aar

Please either fix the link or remove it if you no longer provide an AAR file.

[2019-11-04 22:08] smccants commented on #85
This page shows an aar built for 0.5.0 and earlier, but not 0.5.1:

https://github.com/watson-developer-cloud/android-sdk/releases/

[2019-11-04 22:20] smccants commented on #85
If you are no longer providing an AAR file, can you provide build instructions?  It would be appreciated.

[2019-11-04 22:33] germanattanasio commented on #85
I think this is a problem we are looking as part of #84

[2019-11-04 22:44] smccants commented on #85
@germanattanasio Could be.  #84 doesn't really make any sense to me, but that is likely because I don't know enough about the topic.

[2019-11-04 23:32] lpatino10 commented on #85
Sorry about that @smccants. There was an issue with the last release not publishing the artifacts and I didn't catch it. They should be up in the release now.

[2019-11-04 23:32] #85 closed

[2019-11-04 23:47] lpatino10 commented on #84
Sorry about that @monochkov, it seems like there was an issue with the last automated release that caused the AAR file not to be uploaded.

I just uploaded it and was able to pull down the library successfully. I'm going to go ahead and close this but feel free to re-open if you're still having trouble.

Thanks again for the heads-up!

[2019-11-04 23:47] #84 closed

[2019-11-05 15:56] smccants commented on #85
@lpatino10 I can verify that the link is working now and the artifacts are listed correctly on the release page.  Thanks for the quick fix!

[2020-05-21 10:32] flozi00 opened #88 "Feature request"
VAD for the STT Api would be really cool, there are still some java librarys which wraps the webrtc VAD
Jitsi build one of them: https://github.com/jitsi/jitsi-webrtc-vad-wrapper

[2020-06-02 08:48] venumanas87 opened #89 "Fatal Exception: java.lang.NoSuchMethodError"
The code throws follwoing error when the activity starts.

Fatal Exception: java.lang.NoSuchMethodError: No virtual method log(ILjava/lang/String;Ljava/lang/Throwable;)V in class Lokhttp3/internal/platform/Platform; or its super classes (declaration of 'okhttp3.internal.platform.Platform' appears in /data/app/com.quizo-C1Fi6ybosViFkZ8r4_0jBg==/base.apk!classes3.dex)
       at okhttp3.logging.HttpL

[2020-06-02 13:42] germanattanasio commented on #89
Please provide a set of reproducible steps.

[2020-06-15 01:01] premchand-algo opened #90 "Issue in speech to text"
I am getting this issue in speech to text android sample code.

FATAL EXCEPTION: OkHttp Dispatcher
    Process: com.ibm.watson.developer_cloud.android.myapplication, PID: 13486
    java.lang.IllegalMonitorStateException
        at java.util.concurrent.locks.ReentrantLock$Sync.tryRelease(ReentrantLock.java:156)
        at java.util.concurrent.locks.AbstractQueuedSynchronizer.release(AbstractQueuedS

[2020-06-15 16:40] germanattanasio commented on #90
@premchand-algo can you specify what are the steps you took to run the sample app and when you are seeing the error?

[2020-06-16 00:19] premchand-algo commented on #90
This sample is working fine 10 days ago, I have nothing to change in it. And now it gives this issue at onError method line **capture.close()** of RecognizeCallback.

private class MicrophoneRecognizeDelegate extends BaseRecognizeCallback implements RecognizeCallback {
        @Override
        public void onTranscription(SpeechRecognitionResults speechResults) {
            Log.e("Speech Results"

[2020-06-16 16:07] germanattanasio commented on #90
So without changing any code you started to see a problem. I think that could be a service issue not an issue in this SDK.

[2020-06-16 16:31] premchand-algo commented on #90
Can you help me, why i am getting the following exception?

java.net.ProtocolException: Expected HTTP 101 response but was '403 Forbidden'
W: at okhttp3.internal.ws.RealWebSocket.checkResponse(RealWebSocket.java:229)
W: at okhttp3.internal.ws.RealWebSocket$2.onResponse(RealWebSocket.java:196)
W: at okhttp3.RealCall$AsyncCall.execute(RealCall.java:206)
W: at okhttp3.internal.NamedRunnable.run(Named

[2020-06-21 06:50] premchand-algo opened #91 "Getting exception with library-release.aar file"
FATAL EXCEPTION: Thread-3
    Process: com.book.reading, PID: 12353
    java.lang.NoClassDefFoundError: Failed resolution of: Lcom/sun/jna/Library;
        at com.ibm.watson.developer_cloud.android.library.audio.MicrophoneCaptureThread.run(MicrophoneCaptureThread.java:72)
     Caused by: java.lang.ClassNotFoundException: Didn't find class "com.sun.jna.Library" on path: DexPathList[[zip file "/data

[2020-06-22 18:52] germanattanasio commented on #91
I think the aar is missing a few classes. I will look into it once I get some time, maybe next week

[2020-07-02 05:04] premchand-algo opened #92 "Speech to text service in active."
Hi

I have seen that the service(Speech to text) created on the IBM-Watson account is going to inactive after some time.
Currently, I am using a free account for testing/development.

Can you tell me why service is going to inactive after some time and what the time duration for service is active after creation?

Thank You

[2020-08-31 16:03] premchand-algo opened #93 "Issue while reading text"
Hi, I am getting this issue most of the time and application is going crash randomly.

 FATAL EXCEPTION: AudioToWebSocketThread
    java.lang.IllegalMonitorStateException
        at java.util.concurrent.locks.ReentrantLock$Sync.tryRelease(ReentrantLock.java:156)
        at java.util.concurrent.locks.AbstractQueuedSynchronizer.release(AbstractQueuedSynchronizer.java:1291)
        at java.util.concu

[2020-09-16 01:44] ZY6666 opened #94 "FATAL EXCEPTION: AudioToWebSocketThread"
Sorry for my poor English, I will make it simple
I successfully ran the example，But when I set inactivityTimeout to 1 second, I want to automatically end the connection or catch error code, but the application crashes
heres the code：
private RecognizeOptions getRecognizeOptions(InputStream captureStream) {
    return new RecognizeOptions.Builder()
            .audio(captureStream)
            .con

[2021-01-04 19:23] kevinkowa commented on #94
Try it out with the latest version of the SDK and let me know if it's working fine on your end!

[2021-01-04 19:24] kevinkowa commented on #93
Try it out with the latest version of the SDK and let me know if it works fine on your end!